<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://symfony.com/schema/dic/services"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <!-- fbc contexts -->
        <service id="Setono\MetaConversionsApiBundle\Context\Fbc\FbcContextInterface"
                 alias="Setono\MetaConversionsApiBundle\Context\Fbc\CookieBasedFbcContext"/>

        <service id="Setono\MetaConversionsApiBundle\Context\Fbc\CookieBasedFbcContext">
            <argument type="service" id="request_stack"/>
            <argument type="service" id="logger" on-invalid="null"/>

            <tag name="monolog.logger" channel="setono_meta_conversions_api"/>
        </service>

        <service id="Setono\MetaConversionsApiBundle\Context\Fbc\CachedFbcContext"
                 decorates="Setono\MetaConversionsApiBundle\Context\Fbc\FbcContextInterface" decoration-priority="32">
            <argument type="service" id="Setono\MetaConversionsApiBundle\Context\Fbc\CachedFbcContext.inner"/>

            <tag name="kernel.reset" method="reset"/>
        </service>

        <service id="Setono\MetaConversionsApiBundle\Context\Fbc\QueryBasedFbcContext"
                 decorates="Setono\MetaConversionsApiBundle\Context\Fbc\FbcContextInterface" decoration-priority="64">
            <argument type="service" id="Setono\MetaConversionsApiBundle\Context\Fbc\QueryBasedFbcContext.inner"/>
            <argument type="service" id="request_stack"/>
        </service>

        <!-- fbp contexts -->
        <service id="Setono\MetaConversionsApiBundle\Context\Fbp\FbpContextInterface"
                 alias="Setono\MetaConversionsApiBundle\Context\Fbp\GeneratedFbpContext"/>

        <service id="Setono\MetaConversionsApiBundle\Context\Fbp\GeneratedFbpContext">
        </service>

        <service id="Setono\MetaConversionsApiBundle\Context\Fbp\CachedFbpContext"
                 decorates="Setono\MetaConversionsApiBundle\Context\Fbp\FbpContextInterface" decoration-priority="32">
            <argument type="service" id="Setono\MetaConversionsApiBundle\Context\Fbp\CachedFbpContext.inner"/>

            <tag name="kernel.reset" method="reset"/>
        </service>

        <service id="Setono\MetaConversionsApiBundle\Context\Fbp\CookieBasedFbpContext"
                 decorates="Setono\MetaConversionsApiBundle\Context\Fbp\FbpContextInterface" decoration-priority="64">
            <argument type="service" id="Setono\MetaConversionsApiBundle\Context\Fbp\CookieBasedFbpContext.inner"/>
            <argument type="service" id="request_stack"/>
        </service>
    </services>
</container>
