<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://symfony.com/schema/dic/services"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <!-- fbc contexts -->
        <service id="Setono\MetaConversionsApiBundle\Context\Fbc\FbcContextInterface"
                 alias="setono_meta_conversions_api.context.fbc"/>

        <service id="setono_meta_conversions_api.context.fbc"
                 alias="setono_meta_conversions_api.context.fbc.cookie_based"/>

        <service id="setono_meta_conversions_api.context.fbc.cookie_based"
                 class="Setono\MetaConversionsApiBundle\Context\Fbc\CookieBasedFbcContext">
            <argument type="service" id="request_stack"/>
        </service>

        <service id="setono_meta_conversions_api.context.fbc.cached"
                 class="Setono\MetaConversionsApiBundle\Context\Fbc\CachedFbcContext"
                 decorates="setono_meta_conversions_api.context.fbc" decoration-priority="32">
            <argument type="service" id="setono_meta_conversions_api.context.fbc.cached.inner"/>
        </service>

        <service id="setono_meta_conversions_api.context.fbc.query_based"
                 class="Setono\MetaConversionsApiBundle\Context\Fbc\QueryBasedFbcContext"
                 decorates="setono_meta_conversions_api.context.fbc" decoration-priority="64">
            <argument type="service" id="setono_meta_conversions_api.context.fbc.query_based.inner"/>
            <argument type="service" id="request_stack"/>
        </service>

        <!-- fbp contexts -->
        <service id="Setono\MetaConversionsApiBundle\Context\Fbp\FbpContextInterface"
                 alias="setono_meta_conversions_api.context.fbp"/>

        <service id="setono_meta_conversions_api.context.fbp"
                 alias="setono_meta_conversions_api.context.fbp.generated"/>

        <service id="setono_meta_conversions_api.context.fbp.generated"
                 class="Setono\MetaConversionsApiBundle\Context\Fbp\GeneratedFbpContext">
        </service>

        <service id="setono_meta_conversions_api.context.fbp.cached"
                 class="Setono\MetaConversionsApiBundle\Context\Fbp\CachedFbpContext"
                 decorates="setono_meta_conversions_api.context.fbp" decoration-priority="32">
            <argument type="service" id="setono_meta_conversions_api.context.fbp.cached.inner"/>
        </service>

        <service id="setono_meta_conversions_api.context.fbp.cookie_based"
                 class="Setono\MetaConversionsApiBundle\Context\Fbp\CookieBasedFbpContext"
                 decorates="setono_meta_conversions_api.context.fbp" decoration-priority="64">
            <argument type="service" id="setono_meta_conversions_api.context.fbp.cookie_based.inner"/>
            <argument type="service" id="request_stack"/>
        </service>
    </services>
</container>
